<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
        <script type="text/javascript" src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    </head>
    <body>
        <%- include('./common/header.ejs') %>
        <h1>Welcome to PlacesToStay!</h1>
        <%if(user) {%>
        <div><p>Welcome Back <%= user[0].username%>!<p></p></div>
        
        <form id="searchBox">
            <lable for="ptsLocation">Please enter the location you desire:</lable>
            <input type="text" id="ptsLocation">
            <input type="button" id="ptsSearch" value="Search">
        </form>

        <div id="map"></div>

        <div id="ptsResults">
            <table id="resultsTable">
            </table>
        </div>
        <% } %>
        <%if(!user) {%>
            <p id="prompt">Please login to access features</p>
        <% } %>

        <script src="/services/search.js"></script>
    </body>
</html>